<h1></h1>
<h2></h2>
<h3></h3>


<!-- to use bootstrap-->
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<body>

    <form>

        <div class="form-group">
            <h2>剩餘代幣:</h2><h3>XXXX</h3>
            
        </div>
        
        <!--<h2>兌換為:</h2>
        <div class="drop">
          <div class="dropOption">
            <span id="selected" script="  $('.dropdown a').click(function(){
              $('#selected').text($(this).text());
            });">請選擇</span>
          </div>
      
          <ul class="dropdown">
            <li>狗狗幣</li>
            <li>貓貓幣</li>
            <li>鴨鴨幣</li>
            <li>香蕉幣</li>
            <li>蘋果幣</li>
            
          </ul>
        </div>-->
        <form class="form-group" action="/action_page.php">
          <label style="font-size: 28px;">兌換為:</label>
          <br>
          <select style="color: #666;
          font-size: 20px;
          background-color: #fff;
          padding: 10px;
          border: 1px solid #888;
          border-radius: 5px;
          box-sizing: border-box;">
            <option value="dog">狗狗幣</option>
            <option value="cat">貓貓幣</option>
            <option value="duck">鴨鴨幣</option>
            <option value="banana">香蕉幣</option>
            <option value="apple">蘋果幣</option>
          </select>
          <br><br>
          <!--<input type="submit" class="btn btn-primary" value="Submit">-->
        </form>
        <div class="form-group">
            <input type="text" class="form-control" id="exampleInputText1" placeholder="兌換數量">
            <h2>可兌換為XX個所選代幣</h2>
    
        
        <div style="text-align:center;">
    <h3></h3>
    <a routerLink="/login">  
        <button type="submit" class="btn btn-primary">確認</button>    
        
    </a>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<a routerLink="/welcome">  
    <button type="submit" class="btn btn-primary">取消</button> 
    </a>

      
        



