.container {
    padding: 1rem;
  }
  p {
    font-size: 24px;
    font-weight: bold;
    color: orange;
  }
  .drop {
    position: relative;
    display: block;
    width: 100%;
    margin: 0 0 10px;
  }
  .drop:hover .dropOption {
    display: block;
  }
  .drop:hover .dropdown {
    display: block;
  }
  .drop:hover .dropdown.close {
    display: none;
  }
  .drop .dropOption {
    position: relative;
    width: auto;
    color: #666;
    font-size: 20px;
    background-color: #fff;
    padding: 10px;
    border: 1px solid #888;
    border-radius: 5px;
    box-sizing: border-box;
    cursor: pointer;
  }
  .drop .dropOption::after {
    content: "";
    position: absolute;
    top: 20px;
    right: 12px;
    border-width: 8px 6px;
    border-style: solid;
    border-color: #999 transparent transparent transparent;
  }
  .drop .dropdown {
    display: none;
    width: 100%;
    max-height: 350px;
    position: absolute;
    color: #333;
    padding: 0;
    margin: 0;
    background-color: #f9f9f9;
    box-shadow: 0px 2px 3px 0px #ccc;
    border-radius: 6px;
    box-sizing: border-box;
    overflow: auto;
    z-index: 10;
  }
  .drop .dropdown > li {
    display: block;
    color: #000;
    padding: 12px;
    font-size: 20px;
    margin: 0 10px;
    cursor: pointer;
  }
  .drop .dropdown > li:first-child {
    margin: 10px;
  }
  .drop .dropdown > li:last-child {
    margin-bottom: 10px;
  }
  .drop .dropdown > li:hover {
    background-color: rgb(195, 249, 179);
    border-radius: 6px;
  }
  .drop .dropdown::-webkit-scrollbar {
    width: 15px;
  }
  .drop .dropdown::-webkit-scrollbar-track {
    background-color: #eee;
    border-radius: 6px;
  }
  .drop .dropdown::-webkit-scrollbar-thumb {
    background-color: rgba(181, 253, 159, 0.74);
    border-radius: 15px;
  }
  .drop .dropdown::-webkit-scrollbar-button {
    background-color: #f9f9f9;
  }
  