
<!-- to use bootstrap-->
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<form>
<br>
<br>
<div style="text-align: center;">    
<h1>消費者條碼</h1>
<button (click)="sendData()">發送資料</button>

</div>
<br>
<h1></h1>
  <div style="text-align: center;">
  <div class="input-group input-group-lg">
    <input type="text" class="form-control" aria-label="Large" aria-describedby="inputGroup-sizing-sm">
  </div> 
</div> 
<br>
<div style="text-align:center;">
    <a routerLink="/home">回主頁</a>
    </div>
    <div style="text-align:center;">    
    <a routerLink="/home">  
        <button type="submit" class="btn btn-primary">回主頁</button>
    </a>
  </div>

</form>
